<html>
<head>
	<meta charset="utf-8">
	<title>Chat Live Stream UIT SHOP</title>
	<link rel="icon" href="http://uitshop.azurewebsites.net/wp-content/uploads/2017/11/Springfieldmallregular-8.png">
	<script src="jquery-3.2.1.js"></script>
	<script src="socket.io.js"></script>
	<script src="control.js"></script>
	<script src="jquery/jquery.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="layout.css">
</head>


<body>
	<div id ="header" >
		<nav id="nen" class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<a href="https://uitshop.herokuapp.com/" title="Kênh Live Stream và Chat Realtime của UIT SHOP" rel="home"><img width="100px" height="100px" src="http://uitshop.azurewebsites.net/wp-content/uploads/2017/12/antenna-1-1.png" class="header-logo-dark" alt="UIT Shop"><b class="lead">UIT SHOP - Kênh Live Stream và Chat Realtime</b></a>
					</div>

					<div class="col-md-4">	
						<a href="http://uitshop.azurewebsites.net/" title="Trở về Website UIT SHOP" rel="home"><img width="100px" height="100px" src="http://uitshop.azurewebsites.net/wp-content/uploads/2017/12/Springfieldmallregular-8.png" class="header-logo-dark" alt="UIT Shop"><b class="lead">Trở về Website UIT SHOP</b></a>

					</div>
					<div id="tabVideoChat" class="col-md-2"><a href="videocall-admin"><b class="lead">VIDEO CALL</b></a></div>
				</div>
			</div> <!-- header -->
		</nav>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 content">
				<div class="post">
					<div class="panel panel-info newpost">
						<div class="panel-heading">
							<h2 class="panel-title"><span class="glyphicon glyphicon-facetime-video"></span> Live Stream</h2>
						</div>
						<div class="panel-body">
							<div id="LiveStream">
								
         						<button id="Startstream">Bắt đầu live Stream</button>
         						<button id="Stoptstream"><a href="admin">Kết thúc stream</a></button>
            					<video src="" id="video" style="width: 400px;height: 400px" controls></video>
            					<canvas style="display:none" id="preview"></canvas>
								<div id="logger"></div>

								
            						
							</div>
						</div>
					</div>
				</div> <!--post-->
			</div>


			<div class="col-md-6 sidebar">
				<div class="panel panel-info newpost">
					<div class="panel-heading">
						<h2 class="panel-title"><span class="glyphicon glyphicon-flash"></span> Chat Trực Tuyến</h2>
					</div>

					<div class="panel-body">
						<div class="row">
							<div class="col-md-8" id="wrapper" style="padding-left: 0px; padding-right: 0px;">
								<div id="LoginForm">
									<h4><b> Nhập tên bạn để bắt đầu chat:</b></h4>
									<input type="text" id="txtusername">
									<input type="button" value="Đăng Ký" id="btnRegister">
								</div>

								<div id="ChatForm">
									<div id="Chat">
										<div id="sayhi">
											<b>Chào <span id="currentUser"> </span>! </b>
										</div>

										<div id="listMessages"></div>

									</div>
									<div id="userTyping"></div>
									<input type="text" id="txtMessages" style="border-left-width: 0px;	border-top: solid 1px #81D744; border-right-width: 0px; border-bottom-width: 0px;" placeholder="Nhập nội dung chat..." >
								</div>
							</div>


							<div class="col-md-4">
								<div id ="UserOnline">
									<div id="boxTitle"><b>Người đang tham gia</b></div>
									<div id="boxContent">...</div>
								</div>

							</div>
						</div>

					</div>
				</div><!--newpost/!-->
			</div>
		</div>
	</div>

	<div id="footer">
		<div class="container">
			<p><b>Copyright 2017 © <a href="http://uitshop.azurewebsites.net/">UIT SHOP<a></b></p>
		</div>

	</div><!--footer/!-->

</body>
</html>